.containerprincipal{
    background-color: #DDC4FF;
    width: 40%;
    display: flex;
    justify-content: center;
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #72037A;
    max-width: 80%;
    border-radius: 0 0 30px 30px;
    padding: 20px;
    color: white;
    text-align: center;
    align-items: center;
    height: 90%;
    margin-top: 0;
}

 .image-container{


 }
 .image-container img{
    height: 320px;
    margin-top: -50px;

 }
.title {
    font-size: 26px;
    font-weight: bold;
    align-items: center;
    margin: 20px;
    
}
.access-box {
    border: solid 0.5px white;
    color: black;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 10px;
}
.access-item {
    width: 48%;
    display: flex;
    height: 70px;
    align-items: center;
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    
}
.access-item:hover {
    background-color: #E1BEE7;
    transition: 0.3s ease;
}
.description {
    margin: 30px 30px;
    font-size: 18px;
    font-weight: bold;
    color:#DDC4FF;
}
@media (max-width: 1028px) {
    .containerprincipal{
        width: 100%;
        height:500px;
        border-radius: 0  0 30px 30px;
        
    }
    .container {
        border-radius: 0  0 30px 30px;
        padding: 10px;
    }
    .image-container img{
        justify-content: center;
        margin-left: 0px;
        height: 250px;
    }
    .access-box{
        border: solid 1px white;
        padding: 0px;
        margin-left: 15px;
        margin-top: 0px;
        margin-right: 15px;  
    }
    .access-item{
        width: 48%;
        height: 55px;
        margin: 10px;
    }
    .title {
        font-size: 20px;
        margin-top: 0px;
    }
    .description{
        font-size: 14px;
        color: white;
        margin-top: 10px;
    }
}
@media (max-width: 500px) {
    .access-item p {
          font-size: 13px;
    }
}
.login{
background-color: red;
width: 60%;
justify-content: center;
height: 100vh;
text-align: center;
}
.tituloLogin{
margin-top: -40px;
}